---
---
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a class="brand-link text-decoration-none" href="/"><span class="brand-text fw-bold ms-2">InvestLog</span></a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false">
        <li class="nav-item"><a class="nav-link" href="/"><i class="nav-icon fas fa-house"></i><p>Dashboard</p></a></li>
        <li class="nav-item"><a class="nav-link" href="/calculators/"><i class="nav-icon fas fa-calculator"></i><p>Calculators</p></a></li>
        <li class="nav-item"><a class="nav-link" href="/portfolios/sp500_equal/"><i class="nav-icon fas fa-chart-line"></i><p>Portfolios</p></a></li>
        <li class="nav-item"><a class="nav-link" href="/indicators/"><i class="nav-icon fas fa-signal"></i><p>Indicators</p></a></li>
      </ul>
    </nav>
  </div>
</aside>
